<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>数据展示</title>
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/demo.css" />
    <link rel="stylesheet" href="css/templatemo-style.css">

    <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>

</head>

<body>

<div id="particles-js"></div>

<ul class="cb-slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="container-fluid">
    <div class="row cb-slideshow-text-container ">
        <div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section" style="margin: auto">
            <div>
                <header class="mb-5" style="margin: auto"><h1 style="color: #fdfffd;">模型训练 </h1><button type="button" class="tm-btn-subscribe" onclick="javascript:window.location.href='./index.html'">首页</button></header>
                <form action="#" method="get" class="subscribe-form">
                    <div class="row form-section">

                        <div style="margin: auto">
                            <button type="button" class="tm-btn-subscribe"
                                    onclick="javascript:window.location.href='https://pai-cn-beijing.data.aliyun.com/experiment.htm?&spm=a2c1h.8280630.0.i0.1a70765fAaSdnO.undefined&experimentId=69985'">
                                前往模型训练</button>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">

                        </div>

                    </div>
                </form>
                <p>构造预测函数，确定线性边界</p>
                <div>
                    <p>Logistic函数</p>
                    <img src="img/logical.jpg">
                </div>
                <div>
                    <p>线性边界</p>
                    <img src="img/lineSide.jpg">
                </div>
                <div>
                    <p>预测函数</p>
                    <img src="img/forecast.jpg">
                </div>
                <div>
                    <p>损失函数</p>
                    <img src="img/shunshi.jpg">
                </div>
                <div>
                    <p>向量化</p>
                    <p>约定训练数据的矩阵形式如下，x的每一行为一条训练样本，而每一列为不同的特称取值</p>
                    <img src="img/xiangliang.jpg">
                </div>
            </div>

        </div>
    </div>

</div>
</body>

<script type="text/javascript" src="js/particles.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>